// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.movie p {
	margin: 4px 0;
}

.movie.hover {
	background: #FAFAFA;
}

.movie .admin {
	display: none;
}

.movie.hover .admin {
	display: inline;
}